@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display:flexbox;
  justify-content: center;
  align-items: center;
  background: #fcfcfc;
}

.list {
  position: relative;
  min-width: 425px;
  padding: 20px;
  background: #00bcd4;
  box-shadow: 0 35px 50px rgba(0, 0, 0, 0.1);
}

.list::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  background: #fff;
}

.list h2 {
  position: relative;
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding-left: 70px;
}

.list .list-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.list .list-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00bcd4;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.list .list-item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}

.list .list-item .image-box {
  position: relative;
  min-width: 70px;
  height: 70px;
  background: #fff;
  overflow: hidden;
  border: 6px solid #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-left: 10px;
}

.list .list-item .image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list .list-item .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #333;
}

.list .list-item .content .rank {
  position: absolute;
  right: 0;
  font-size: 2rem;
  color: #fff;
  transform: scale(0);
  transition: 0.5s;
}

.list .list-item .content .rank small {
  font-weight: 500;
  opacity: 0.5;
}

.list .list-item:hover .content .rank {
  transform: scale(1);
}

.list .list-item .content h3 {
  font-weight: 600;
  line-height: 1.2rem;
  text-transform: uppercase;
  transition: 0.5s;
}

.list .list-item .content p {
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
}

.list .list-item:hover .content h3,
.list .list-item:hover .content p {
  color: #fff;
}