<app-header></app-header>
<!--CONTAINER-->
<div class="container">
    <section>
    <h1>PUBLIC HOSPITAL</h1>
    <h2>Take the world's best quality Treatment</h2>
    <h4>The Highest Quality Healthcare. The Hospital of the Future, Today. The hospital you trust to care for those you love. The Power to Heal.</h4>
    <a class="btn1">Learn More</a>
    </section>
    </div>
    
    
    
    
    <!--SECTION1-->
    <section class="section1">
    <table>
    <tr>
    <td>
    <div class="form">
    <h4>REQUEST FOR YOUR</h4>
    <h1>Consultation</h1>
    <input type="text" name="fname" id="fname" placeholder="Name" maxlength="60" required disabled/>
    <input type="email" name="email" id="email" placeholder="Email" maxlength="100" required  disabled/>
    <input type="date" name="date" id="date" placeholder="" required disabled/>
    <select name="service" disabled>
    <option value="emergencyservice">Emergency Service</option>
    <option value="certifiedservice">Certified Service</option>
    </select>
    <button type="submit" class="btn2">LOGIN TO BOOK APPOINTMENT</button>
    </div>
    </td>
    <td>
    <h1>Get better care for your health</h1>
    <p>This is a non-profit organisation initiated by Vedanta Resources and Bharat Aluminium Co. Ltd. (BALCO) to contribute to the prevention of cancer and its related illnesses through a Centre of Excellence in medical, surgical and radiation oncology.</p>
    <p>More than 2.5 million Indians currently live with cancer and the country sees over 5,50,000 cancer-related deaths each year. With these statistics in mind, VMRF aims to bring ultra-modern, multi-modality diagnostic and therapeutic facilities within easy reach of India’s population at a reasonable and affordable cost.</p>
    <p>To provide affordable, world-class cancer care to all.

        By achieving state-of-the-art medical and research environments, our facilities will bring ultra-modern, multi-modality diagnostic and therapeutic facilities within easy reach of the population at a reasonable and affordable cost.</p>
    </td>
    </tr>
    </table>
    </section>
    
    
    
    
    
    
    <!--SECTION2-->
    <section class="section2">
    <div class="cards">
    <div class="card">
    <i class="fa fa-medkit"></i>
    <h1>Qualified Doctors</h1>
    <p>Well qualified and experienced consultant doctors ensure precise and accurate diagnosis which leads to proper and apt treatment. The labs are fully automated and integrated with hospital information systems.</p>
    </div>
    <div class="card">
    <i class="fa fa-certificate"></i>
    <h1>Certified Services</h1>
    <p>We are certified specialist of Histopathology, Hematology, Biochemistry, Clinical pathology, Cyto-Pathology, and Microbiology.</p>
    </div>
    <div class="card">
    <i class="fa fa-stethoscope"></i>
    <h1>Advanced Equipment</h1>
    <p>The labs at Balco Medical Centre are state-of-art clinical labs equipped with the latest & most modern medical equipment. Widest possible range of pathological tests required in an oncology facility are on offer in the specialties of Histopathology, Hematology, Biochemistry, Clinical pathology, Cyto-Pathology, and Microbiology. </p>
    </div>
    <div class="card">
    <i class="fa fa-heartbeat"></i>
    <h1>Emergency Service</h1>
    <p>We provide 24*7 Service all around the country in more than 50 cities. You Can reach out to our emergency helepdesk just by dialing 1800-987-654 </p>
    </div>
    </div>
    </section>
    
    
    
    
    
    
    
    <!--SECTION3-->
    <section class="section3">
    <div class="cards">
    <div class="card">
    <section>
    <h1>Laboratory Services</h1>
    <h4>Services related to lab tests, including detailing information and specimen collection supplies for supported lab tests, lab test requisitioning and ordering, lab test specimen collection and accessioning, lab tests performed on specimens, recording of lab test results, delivery of lab test results</h4>
    </section>
    </div>
    <div class="card">
    <section>
    <h1>General Treatment</h1>
    <h4>We use medicine, therapy, surgery, and other treatments to help lessen the symptoms and effects of a disease. Sometimes these treatments are cures — in other words, they get rid of the disease.</h4>
    </section>
    </div>
    <div class="card">
    <section>
    <h1>Orthopedician</h1>
    <h4>Orthopaedic surgeons are devoted to the prevention, diagnosis, and treatment of disorders of the bones, joints, ligaments, tendons and muscles. Some orthopaedists are generalists, while others specialize in certain areas of the body, such as: Hip and knee. Foot and ankle.</h4>
    </section>
    </div>
    </div>
    <div class="content">
    <h1>We are well experienced doctors</h1>
    <p>Well qualified and experienced consultant doctors ensure precise and accurate diagnosis which leads to proper and apt treatment. The labs are fully automated and integrated with hospital information systems.</p>
    </div>
    </section>
    
    
    
    
    
    
    
    <!--SECTION4-->
    <section class="section4">
    <div class="title_header">
    <h1>Our Gallery Portfolio</h1>
    </div>
    <div class="row">
    <div class="column">
    <img src="https://i.ibb.co/Sft7gKp/bg2.webp" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
    </div>
    <div class="column">
    <img src="https://i.ibb.co/Sft7gKp/bg2.webp" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
    </div>
    <div class="column">
    <img src="https://i.ibb.co/Sft7gKp/bg2.webp" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
    </div>
    <div class="column">
    <img src="https://i.ibb.co/Sft7gKp/bg2.webp" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
    </div>
    <div class="column">
    <img src="https://i.ibb.co/Sft7gKp/bg2.webp" style="width:100%" onclick="openModal();currentSlide(5)" class="hover-shadow cursor">
    </div>
    <div class="column">
    <img src="https://i.ibb.co/Sft7gKp/bg2.webp" style="width:100%" onclick="openModal();currentSlide(6)" class="hover-shadow cursor">
    </div>
    <div class="column">
    <img src="https://i.ibb.co/Sft7gKp/bg2.webp" style="width:100%" onclick="openModal();currentSlide(7)" class="hover-shadow cursor">
    </div>
    <div class="column">
    <img src="https://i.ibb.co/Sft7gKp/bg2.webp" style="width:100%" onclick="openModal();currentSlide(8)" class="hover-shadow cursor">
    </div>
    </div>

    <app-footer></app-footer>
    
    <div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
    
    <div class="mySlides">
    <div class="numbertext">1 / 7</div>
    <img src="https://i.ibb.co/Sft7gKp/bg2.webp" class="animate" style="width:100%">
    </div>
    
    <div class="mySlides">
    <div class="numbertext">2 / 7</div>
    <img src="https://i.ibb.co/Sft7gKp/bg2.webp" class="animate" style="width:100%">
    </div>
    
    <div class="mySlides">
    <div class="numbertext">3 / 7</div>
    <img src="https://i.ibb.co/Sft7gKp/bg2.webp" class="animate" style="width:100%">
    </div>
    
    <div class="mySlides">
    <div class="numbertext">4 / 7</div>
    <img src="https://i.ibb.co/Sft7gKp/bg2.webp" class="animate" style="width:100%">
    </div>
    
    <div class="mySlides">
    <div class="numbertext">5 / 7</div>
    <img src="https://i.ibb.co/Sft7gKp/bg2.webp" class="animate" style="width:100%">
    </div>
    
    <div class="mySlides">
    <div class="numbertext">6 / 7</div>
    <img src="https://i.ibb.co/Sft7gKp/bg2.webp" class="animate" style="width:100%">
    </div>
    
    <div class="mySlides">
    <div class="numbertext">7 / 7</div>
    <img src="https://i.ibb.co/Sft7gKp/bg2.webp" class="animate" style="width:100%">
    </div>

    
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    <div class="caption-container">
    <p id="caption"></p>
    </div>
    
    