<app-header></app-header>

<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="container">
            <h2>Welcome to <span>Public Hospital</span></h2>
            <p>We provide best medical facilities with latest equipments and experienced team</p>
            <a href="/" class="btn-get-started scrollto a" routerLinkActive="active" routerLink="/login">Login</a>
            <a href="/" class="btn-get-started scrollto" routerLinkActive="active" routerLink="/signup">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  